<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn"> 

Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut minus magni porro nesciunt. Tenetur, distinctio eligendi, dicta nam doloribus, eius incidunt fugiat maiores voluptate impedit deleniti. Alias minima eveniet voluptatibus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora impedit repellat consequatur repellendus sunt dolores odio, minima modi, fuga nostrum hic aliquid vero, asperiores eveniet tenetur error saepe ut illum!   
</p>